[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_SITE_URL = "https://fondation-chacal.netlify.app"

[dev]
  command = "npm run dev"
  port = 3000
  publish = ".next"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Cache optimizations
[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=3600, s-maxage=86400"